/docs/.venv
*.pyc
__pycache__/
python/results/*
python/preview_model.py
*.log
*.rec
*.job
.idea/
abaqusMacros.py
python/guwlib/test.py
python/guwlib/trash/*
docs/Makefile
docs/make.bat
docs/source/code_snippet.py
docs/source/modified.svg
docs/source/svgparse.py
python/test_signal.py
python/damage_detection/*
