/* Style for both odd and even fields */
dl.field-list dt.field-odd,
dl.field-list dt.field-even {
    margin-top: 10px; /* Add vertical spacing above the title */
    margin-bottom: 10px; /* Add vertical spacing below the title */
    font-weight: bold; /* Make the text bold */
}

details.toggle-details summary {
    font-size: 1.0rem;
	border-left: 5px solid rgba(0, 0, 0, 0.1);
}

div.document div.highlight {
	font-size: 0.8rem;
}

.myTextStyle {
  font-family: Arial;
  font-size: 20px;
  fill: red;
}